
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header_div{
    width: 100%;
    color: #fff;
    background-color: black;
    position: fixed;
    z-index: 50;
}

.logo_div img{
    width: 10%;
height: 20vh;



}
.logo_div a{
    text-decoration: none;
}

.logo_div h2{
    font-family: 'Play', sans-serif;
    color: #fff;
    position: absolute;
    top: 20%;
    left: 7.5%;
    font-size: 40px;
    
}
.logo_div h2::first-letter{
    color: rgb(208, 255, 0);
   
}
.logo_div span{
    color: rgb(0, 255, 170);
    
}


.logo_div p{
    
    font-family: 'Pacifico', cursive;
    color: #fff;
    position: absolute;
    top: 45%;
    left: 9.5%;
    font-size: 20px;
}
.logo_div p::first-letter{
    color: rgb(255, 196, 0);

}
.navbar_div{
    font-family: 'Bebas Neue', cursive;
}
.navbar_div ul{
  position: absolute;
  top: 38%;
right: 1%;
font-size: 1.5rem;
    
}
.navbar_div li{
    letter-spacing: 2px;
    display: inline-block;
    margin: 10px;
    
}
.navbar_div a{
    color: white;
    text-decoration: none;
   
   
}
.navbar_div a:hover{
    border: 1px solid white transparent;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
}
#pause{
    border: 1px solid white transparent;
    background-color: rgb(0, 217, 255);
   border-radius: 5px;
}

/* section */

body{
    background: #ffffff;
   

}
.container{
    width: 100%;
    padding-top: 9.6%;
   
   

}
.container img{
    min-width: 100%;
}

.contact_div{
    width: 80%;
    margin: 50px auto;
    border: solid;
}

.contact-box{
    background: #fff;
    display: flex;
    
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background:rgb(48, 185, 219);
    color: rgb(255, 255, 255);
}
h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 40px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: #9e0dff;
}
button{
    background: #1c00b5;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}
.contact-left h3{
  color: #1c00b5;
    font-weight: 600;
    margin-bottom: 30px;
}
.contact-right h3{
   
      font-weight: 600;
      margin-bottom: 30px;
  }
  


tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}


/* footer */

.footer{
    background-color: black;
    color: blanchedalmond;
    height: 40vh;
}
.logo a{
color: blanchedalmond;
}
.logo h4{
position: absolute;
top: 228%;
left: 8%;
font-size: 2rem;
}
.logo h5{
    position: absolute;
top: 233%;
left: 8%;
font-size: 1rem;
}
.logo img{
    width: 10%;
}
.logo p{
    position: absolute;
    top:238%;
}
.contact{
    color: #fff;
    position: absolute;
    top: 228%;
    left: 35%;
    
}
.contact p{
    margin: 5px;
}
.sitemap{
    color: #fff;
    position: absolute;
    top: 228%;
    left: 70%;
}
.sitemap a,ul{
    text-decoration: none;
    color: rgb(45, 127, 250);
    list-style: none;
}
.sitemap a:hover{
    color: orange;
}
.left{
    position: absolute;
    top: 40%;
    left: 65%;
}
.social{
 
    position: absolute;
    top: 247%;
}
.social li{
    display: inline-block;
}


.fa {
padding: 7px;
font-size: 27px;
width: 50px;
height: 38px;
text-align: center;
text-decoration: none;
margin: 2px 2px;
margin-top: -30%;
border-radius: 500px;
}


.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
border: solid white;
color: white;
box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.fa-twitter {
border: solid white;
color: white;
box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}


.fa-instagram {
    border: solid white;
color: white;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  }


.fa-linkedin {
border: solid white;
color: white;
box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

hr{
  
    position: absolute;
    top: 251%;
/* left: 19%; */
   
    width: 100%;

}
.last_footer{
    color: #fff;
}
.last_footer h3{
    position: absolute;
    top: 252%;
    left: 30%;
}
.last_footer ul{
position: absolute;
top: 256%;
left: 35%;


}
.last_footer li{
    display: inline-block;
   
 
  
}
.last_footer a{
    color: rgb(241, 245, 42);
    text-decoration: none;
    margin-left: 5px;
}
.last_footer a:hover{
    color: rgb(147, 255, 6);
}

.h1_div a{
    color: rgb(16, 255, 255);
}
.h1_div a:hover{
    color: rgb(69, 248, 69);
}


