@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header_div{
    width: 100%;
    color: #fff;
    background-color: black;
    position: fixed;
    z-index: 50;
}

.logo_div img{
    width: 10%;
height: 20vh;



}
.logo_div a{
    text-decoration: none;
}

.logo_div h2{
    font-family: 'Play', sans-serif;
    color: #fff;
    position: absolute;
    top: 20%;
    left: 7.5%;
    font-size: 40px;
    
}
.logo_div h2::first-letter{
    color: rgb(208, 255, 0);
   
}
.logo_div span{
    color: rgb(0, 255, 170);
    
}


.logo_div p{
    
    font-family: 'Pacifico', cursive;
    color: #fff;
    position: absolute;
    top: 45%;
    left: 9.5%;
    font-size: 20px;
}
.logo_div p::first-letter{
    color: rgb(255, 196, 0);

}
.navbar_div{
    font-family: 'Bebas Neue', cursive;
}
.navbar_div ul{
  position: absolute;
  top: 38%;
right: 1%;
    font-size: 1.5rem;
}
.navbar_div li{
    letter-spacing: 2px;
    display: inline-block;
    margin: 10px;
    
}
.navbar_div a{
    color: white;
    text-decoration: none;
   
   
}
.navbar_div a:hover{
    border: 1px solid white transparent;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
}
#pause{
    border: 1px solid white transparent;
    background-color: rgb(0, 217, 255);
   border-radius: 5px;
}

/* section */
.section{
    padding-top: 8%;
    background-color: aqua;
}
.section_3{
    position: absolute;
    top: 35%;
    left: 55%;
   

    
}

.section_3_div h1{
   font-size: 3.8rem;
margin: 2%;
}
.section_3_div p{
    font-size: 2rem;
    margin: 2%;
}
.section_3_div button{
    font-size: 2rem;
    border-radius: 10px;
   margin-left: 10px;
   margin-top: 1%;
   background-color: rgb(24, 206, 24);
}

.section_3_div a{
 color: #000;   
    text-decoration: none;
    border-radius: 5px;
}
.section_3_div button:hover{
border-radius: 10px;
    background-color: orange;
}

/* footer */

.footer{
    background-color: black;
    color: blanchedalmond;
    height: 40vh;

    margin-top: -0.3%;
}
.logo a{
color: blanchedalmond;
}
.logo h4{
position: absolute;
top:94%;
left: 8%;
font-size: 2rem;
}
.logo h5{
    position: absolute;
top: 99%;
left: 8%;
font-size: 1rem;
}
.logo img{
    width: 10%;
}
.logo p{
    position: absolute;
    top:103%;
}
.contact{
    color: #fff;
    position: absolute;
    top: 94%;
    left: 35%;
    
}
.contact p{
    margin: 5px;
}
.sitemap{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 94%;
    left: 70%;
}
.sitemap a,ul{
    text-decoration: none;
    color: rgb(45, 127, 250);
    list-style: none;
}
.sitemap a:hover{
    color: orange;
}
.left{
    position: absolute;
    top: 35%;
    left: 65%;
}
.social{
 
    position: absolute;
    top: 113%;
}
.social li{
    display: inline-block;
}


.fa {
padding: 7px;
font-size: 27px;
width: 50px;
height: 38px;
text-align: center;
text-decoration: none;
margin: 2px 2px;
margin-top: -30%;
border-radius: 500px;
}


.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
border: solid white;
color: white;
box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.fa-twitter {
border: solid white;
color: white;
box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}


.fa-instagram {
    border: solid white;
color: white;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  }


.fa-linkedin {
border: solid white;
color: white;
box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

hr{
  
    position: absolute;
    top: 117%;
/* left: 19%; */
   
    width: 100%;

}
.last_footer{
    color: #fff;
}
.last_footer h3{
    position: absolute;
    top: 118%;
    left: 30%;
}
.last_footer ul{
position: absolute;
top: 122%;
left: 35%;


}
.last_footer li{
    display: inline-block;
   
 
  
}
.last_footer a{
    color: rgb(241, 245, 42);
    text-decoration: none;
    margin-left: 5px;
}
.last_footer a:hover{
    color: rgb(147, 255, 6);
}

.h1_div a{
    color: rgb(16, 255, 255);
}
.h1_div a:hover{
    color: rgb(69, 248, 69);
}


/* @media */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .example {background: green;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (max-width: 720px) {
    .footer{
     height: 50vh;
        
  }
.logo{
    position: relative;
    top: 40%;
}

.logo img{
    width: 50%;
}

.logo h4 {
    position: absolute;
    top: 34%;
    left: 20%;
    font-size: 8rem;
}

.logo h5 {
    position: absolute;
    top: 52%;
    left: 20%;
    font-size: 1.5rem;
}

.logo p {
    position: absolute;
    top: 75%;
}

.contact {
    color: #fff;
    position: absolute;
    top: 84%;
    left: 45%;
    font-size: 0.8rem;
}

.social {
    position: absolute;
    top: 96%;
}

hr {
    position: absolute;
    top: 99%;
    /* left: 19%; */
    width: 100%;
}

.last_footer h3 {
    position: absolute;
    top: 100%;
    left: 30%;
    font-size: 0.8rem;
}



.last_footer ul {
    position: absolute;
    top: 102%;
    font-size: 0.8rem;
    left: 35%;
}

 body{
     border: solid;
 
 }
  
  .sitemap {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 84%;
    left: 84%;
    font-size: 0.8rem;
}

  
  .section{
     
  }

  .section_2 img{
      height: 50vh;
      width: 100%;
     
  }
  
  .section_3 {
  
    top: 55%;
    color: rgb(0, 0, 0);
    height: 25vh;
    margin-left: -54.8%;
    background-color: aqua;
    
}
.section_3_div h1 {
    font-size: 3.5rem;
    
   
}
.section_3_div p{
    font-size: 2.2rem;
}

.header_div {
    width: 100%;
    
}

.logo_div img {
    width: 40%;
    height: 15vh;
    border: 1px solid red;
}

.logo_div h2 {
    
    position: absolute;
    top: 20%;
   left: 30%;
    font-size: 70px;
}

.logo_div p {
    
    position: absolute;
    top: 50%;
    left: 35%;
    font-size: 30px;
}

.navbar_div {
    visibility: hidden;
}


} 
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    
  }
  
